{% extends "base.html" %}{% block content %}
<div class="container">
<section class="hero">
<h1>Student Performance Analytics System devloper by Matloob Ali</h1>
<p>MCA Major Project • Academic Performance Dashboard Developer by Matloob Ali</p>
<a class="btn" href="/add">+ Add Student</a>
</section>
<div class="cards">
<div class="card">Total Students<div class="num">{{total}}</div></div>
<div class="card">Average Marks<div class="num">{{"%.2f"|format(avg_marks)}}%</div></div>
<div class="card">Average Attendance<div class="num">{{"%.2f"|format(avg_att)}}%</div></div>
<div class="card">Pass Rate<div class="num">{{"%.2f"|format(pass_rate)}}%</div></div>
</div>
<div class="tablebox">
<h2>Quick Student Report</h2>
<table><tr><th>Name</th><th>Marks</th><th>Attendance</th><th>Grade</th></tr>
{% for s in students %}
<tr><td>{{s.name}}</td><td>{{s.marks}}%</td><td>{{s.attendance}}%</td>
<td><span class="badge">{% if s.marks>=90 %}A+{% elif s.marks>=80 %}A{% elif s.marks>=70 %}B{% elif s.marks>=60 %}C{% elif s.marks>=50 %}D{% else %}F{% endif %}</span></td></tr>
{% endfor %}</table>
</div>
</div>{% endblock %}
